@import '../../style.scss';

.rightbar {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 71px;
    height: calc(100vh - 71px);
    overflow: scroll;
    background-color: themed('bgSoft');

    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;

      .item {
        box-shadow: 6px 5px 14px -1px rgba(0, 0, 0, 0.17);
        -webkit-box-shadow: 6px 5px 14px -1px rgba(0, 0, 0, 0.17);
        -moz-box-shadow: 6px 5px 14px -1px rgba(0, 0, 0, 0.17);

        padding: 20px;
        margin-bottom: 20px;
        background-color: themed('bg');

        span {
          color: gray;
        }

        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px 0;

          .userInfo {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;

            img {
              height: 40px;
              width: 40px;
              border-radius: 50%;
              object-fit: cover;
            }

            .online {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: limegreen;
              position: absolute;
              top: 0;
              left: 30px;
            }

            p {
              color: themed('textColorSoft');
            }

            span {
              font-weight: 500;
              color: themed('textColor');
            }
          }

          .buttons {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
              border: none;
              padding: 5px;
              color: white;
              cursor: pointer;
              border-radius: 3px;

              &:first-child {
                color: #3399ff;
                border: 1px solid;
                border-color: #3399ff;
                background-color: #ffffff;
              }

              &:last-child {
                background-color: #ff5252;
              }
            }
          }
        }
      }
    }
  }
}
